@import 'bower_components/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|IBM+Plex+Serif');

$blue: #303F9F;

.main {
  font-family: 'Roboto', sans-serif;
  .container {
    max-width: 768px;
    .resume-section {
      padding: 2em 0;
    }
  }
}

.info {
  font-size: 0.85em;
}

.summary {
  p {margin-bottom: 2px;}
}

.title {
  display: table;
  margin: auto;
}

.title, .title-xs {
  font-family: 'IBM Plex Serif', sans-serif;
  background: #fff;
  color: $blue;
}

.highlist-container {
  ul {font-size: 0.8em;}
}

.contact-list {
  div {
    &:first-child {border: none;}  
    border-left: 1px solid #000;
    @media screen and (max-width: 575px) {
      border: none;
      text-align: left;
    } 
  }
}

.prospect-name-container {
  border: $blue solid 2px;
  border-right: none;
  border-left: none;

  .prospect-name {
    margin-top: .3em;
    margin-bottom: .3em;
  }
}

.section-break {
  display: block;
  position: relative;
  width: 100%;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, $blue);
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 32%;
    width: 45%;
    height: 1px;
    z-index: -1;
  }

  &:after {
    content: '';
    background: linear-gradient(to right, $blue, transparent);
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 32%;
    margin-left: 55%;
    width: 45%;
    height: 1px;
    z-index: -1;
  }

  .title {
    padding: 0 8px;
  }
}
.row > .section { width: 100%;}
.experience-list {
  width: 100%;
  .experience {
    margin-top: 1em;

    &:first-child { margin-top: 0.5em; }

    .company-name {
      font-style: italic;
      text-transform: uppercase;
    }

    .date {
      @media screen and (min-width: 768px) {
        padding-right: 0;
      }
      font-size: 1em;
      color: #757575;
      font-weight: 300;
    }

    .role-description {
      @media screen and (min-width: 768px) {
        padding-left: 0;
      }
      span {
        display: block;
        font-size: 1.2em;
        font-weight: 300;
      }
    }
  }
}



